<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897513775223-1f3b9nhu00fg1chs0k1g7qknb0rhg9bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897513775223-1f3b9nhu00fg1chs0k1g7qknb0rhg9bs</string>
	<key>API_KEY</key>
	<string>AIzaSyC-C82XdUr0uzr0kxUqP1QDU_Wmobo1kY4</string>
	<key>GCM_SENDER_ID</key>
	<string>897513775223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hong.FirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>myauthtutorial-32abe</string>
	<key>STORAGE_BUCKET</key>
	<string>myauthtutorial-32abe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897513775223:ios:fd5e998e2305d10d8e2672</string>
</dict>
</plist>